<section *ngIf="!inCheckOut">
    <div>
        <h1>Your basket</h1>
        <p *ngIf="myOrderList.length == 0">Your basket is empty.</p>

        <ul *ngIf="myOrderList.length !==0">
            <li *ngFor="let m of myOrderList; let i = index">
                {{ m.name }}
                <button (click)="removeMovie(i)">X</button>
            </li>

        </ul>
        <button (click)="goToCheckout()" class="goToCheckoutBtn">Go to check-out</button>

    </div>
</section>
<hr>

<app-check-out *ngIf="inCheckOut"></app-check-out>