section {
  display: flex;
  justify-content: center;

  div {
    border: 2px dashed rgb(130, 128, 128);
    width: 30%;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;

    h1 {
      margin-bottom: 10px;
    }

    ul {
      list-style: none;

    }

    button {
      padding: 1px 5px;
    }

    .goToCheckoutBtn {
      margin-top: 50px;
      padding: 5px;
    }


  }
}
