.basket-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  hr {
    width: 100%;
    margin: 10px auto;
  }

  h2 {
    font-size: 1.2rem;
    margin: 10px auto;
    font-weight: 400;

  }


  .basket-container {
    border: 2px dashed rgb(130, 128, 128);
    width: 30%;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;


    h1 {
      margin-bottom: 10px;
    }

    ul {
      list-style: none;

    }

    button {
      padding: 1px 5px;
    }

    .goToCheckoutBtn {
      margin-top: 50px;
      padding: 5px;
    }


  }
}
