<section *ngIf="!inCheckOut" class="basket-section">

    <div>
        <hr>
        <h2>Your basket</h2>
        <hr>

    </div>

    <div class="basket-container">



        <p *ngIf="myOrderList.length == 0">Your basket is empty.</p>

        <ul *ngIf="myOrderList.length !==0">
            <li *ngFor="let m of myOrderList; let i = index">
                {{ m.name }}
                <button (click)="removeMovie(i)">X</button>
            </li>

        </ul>
        <button (click)="goToCheckout()" class="goToCheckoutBtn">Go to check-out</button>

    </div>
</section>

<app-check-out *ngIf="inCheckOut"></app-check-out>