<!-- DISPLAYS THE CUSTOMER ORDER/EMPTY BASKET -->

<section *ngIf="!inCheckOut" class="basket-section">

    <div>
        <hr>
        <h2>Your basket</h2>
        <hr>
    </div>

    <p *ngIf="myOrderList.length == 0">Your basket is empty.</p>

    <div *ngIf="myOrderList.length !== 0" class="basket-container">

        <ul>
            <li *ngFor="let m of myOrderList; let i = index">
                {{ m.name }}
                <button (click)="removeMovie(i)">X</button>
            </li>
        </ul>

        <button (click)="goToCheckout()" class="goToCheckoutBtn">Go to
            check-out</button>

    </div>
</section>

<!-- BUTTON TO TAKE THE CUSTOMER TO CHECK-OUT COMPONENT  -->
<app-check-out *ngIf="inCheckOut"></app-check-out>