footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  color: #2D2B2A;

  p {
    padding-top: 1rem;
    padding-bottom: 1rem;
    // background-color: #f3efeb;
    background-color: #9b5b02;
    color: white;

  }
}
