.form-container {
  width: 70%;
  margin: 100px 50px;
}

input {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px;
  font-size: 1.2rem;
  padding: 5px;
}

label {
  float: left;
  width: 125px;
}

.mandatory-field {
  margin-left: 120px;
}

.thanks-for-your-order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  p {
    justify-content: center;
    display: inline-block;
    font-size: 1.5rem;
    background-color: #440462;
    color: #f09516;
    padding: 2rem;
    margin: 20px 0 0 0;
    text-align: center;

  }
}

.place-order-button {
  margin-top: 50px;
  margin-left: 0;
  padding: 5px;
  font-size: 1.5rem;
  margin-bottom: 200px;
}

.place-order-button:disabled {
  background-color: rgb(204, 204, 204);
  border-color: rgb(193, 193, 193);
  cursor: auto;

}
