<header id="header">
    <div>
        <h1>Classic Videos</h1>
    </div>
    <nav>
        <ul>
            <li> <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Products</a> </li>
            <li> <a routerLink="/search" routerLinkActive="active">Search</a> </li>
            <li> <a routerLink="/basket" routerLinkActive="active">Basket</a> </li>
            <li> <a routerLink="/admin" routerLinkActive="active">Admin</a> </li>
        </ul>
    </nav>
</header>