<div class="order-heading">
    <hr>
    <h2>Your orders</h2>
    <hr>
</div>


<!-- DISPLAYS THE ORDERS -->
<section class="order-section">

    <p *ngIf="orderData.length == 0">There are no orders</p>

    <div *ngFor="let order of orderData; let i = index" class="orderLayout">
        <h1>Order id: {{order.id}}</h1>
        <hr>
        <p>Created: {{order.created}}</p>
        <hr>
        <p>Customer details: {{order.createdBy}}</p>
        <hr>
        <p>Payment method: {{order.paymentMethod}}</p>
        <hr>
        <p>Total price: {{order.totalPrice}}</p>
        <hr>

        <div *ngFor="let o of order.orderRows">
            <p>Product id: {{o.productId}}, amount: {{o.amount}}</p>

        </div>

        <button (click)="removeOrder(this.order.id)">Remove</button>

    </div>

</section>