section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin-bottom: 60px;

  h2 {
    font-size: 1.2rem;
    margin: 10px auto;
    font-weight: 400;
  }

  .orderLayout {
    padding: 20px;
    border: 2px dashed rgb(130, 128, 128);
    width: 25%;
    border-radius: 10px;
    margin: 10px;

    p {
      margin: 5px;
    }

    button {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
}
