<section>
    <div *ngFor="let order of orderData; let i = index">
        <h1>Order id: {{order.id}}</h1>
        <p>Created: {{order.created}}</p>
        <p>Customer details: {{order.createdBy}}</p>
        <p>Payment method: {{order.paymentMethod}}</p>
        <p>Total price: {{order.totalPrice}}</p>

        <div *ngFor="let o of order.orderRows">
            <p>Product id: {{o.productId}}, amount: {{o.amount}}</p>

        </div>

        <button (click)="removeOrder(this.order.id)">Remove</button>
        <hr>
    </div>

</section>