<section class="categories">

    <hr>
    <ul>
        <li *ngFor="let category of categoriesList" (click)="showCategory(category.id)"
            (click)="!displayCategories; displayAllMovies = false" class="categoriesList">

            {{category.name}}
        </li>
        <li (click)="displayAllMovies = true" class="categoriesList">View all movies</li>
    </ul>
    <hr>


    <ng-container *ngIf="!displayAllMovies">

        <section class="movie-container">

            <div *ngFor="let movieId of movieIdList; let i = index" class="movie-section">

                <h2>{{movieId.name}}</h2>

                <img src="{{movieId.imageUrl}}" alt="Movie poster">
                <div class="movieImage" *ngIf="displayMovieInfo">{{movieId.description}}</div>
                <p>Price: {{movieId.price}}:-</p>

                <button (click)="toggleMovieInfo()">View info</button>
                <button (click)="addMovie(movieId)">Add</button>
                <button (click)="removeMovie(i)">Remove</button>

            </div>
        </section>
    </ng-container>
</section>



<section *ngIf="displayAllMovies" class="movie-container">
    <article *ngFor="let movie of movieList; let i = index" class="movie-section">

        <h2>{{movie.name}}</h2>

        <img src="{{movie.imageUrl}}" alt="Movie poster">
        <div class="movieImage" *ngIf="displayMovieInfo">{{movie.description}}</div>
        <p>Price: {{movie.price}}:-</p>


        <button (click)="toggleMovieInfo()">View info</button>
        <button (click)="addMovie(movie)">Add</button>
        <button (click)="removeMovie(i)">Remove</button>

    </article>
</section>