.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin-bottom: 60px;


  h2 {
    font-size: 1.2rem;
  }
}

.movie-section {
  width: 250px;
  padding: 20px 10px;
  height: 45 00px;
  border: 2px dashed rgb(130, 128, 128);
  border-radius: 10px;
  margin: 10px;
}

.movieImage {
  width: 200px;
}

//STYLING FOR CATEGORIES SECTION
.categories {
  ul {
    display: flex;
    list-style: none;
    justify-content: center;
    background-color: lightblue;

    .categoriesList {
      font-size: 1.2rem;
      margin: 20px;
      cursor: pointer;

    }
  }

  .categoriesList:hover {
    text-decoration: underline;
  }
}
