/* You can add global styles to this file, and also import other style files */

body {

  font-family: 'Libre Baskerville', serif;
}

button {
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Libre Baskerville', serif;

}

button:hover {
  background-color: rgb(178, 178, 182);
  border-top-color: #c9b9b9;
  border-left-color: #dfd3d3;
  border-bottom-color: #66616c;
  border-right-color: #898291;
}
